<h1> this is the index/home page </h1>

<% @users.each do |user| %>
    <p> <%= user.username %> </p>
     <% user.albums.each do |album|%> 
        <p> <%= album.album_name%> </p>
<% end %>
<% end %>