


<% @users.each do |user| %>
    <p>User: <%= link_to user.username, user_path(user.id) %> </p>
     <% user.albums.each do |album|%> 
        <p>Album: <%= album.album_name%> </p>
    <% end %>
<% end %>

