<div align="right">
<%= link_to "Log in", new_session_path %><br>
<%= link_to "Sign up", new_user_path %><br>
</div>
<center>
<h1>  PICYOURS </h1>
<br>
<h2> Browse, Find & Store your favourite Pictures </h2>
<br>
<%= image_tag("https://images.unsplash.com/photo-1530733895788-f39cc96b6ae8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80", :size => "1040x720") %>

