<div align="right">
<%= link_to "My Profile", user_path(@user) %><br>
</div>
<center>
<h1>  ___ PicYours ___ </h1>
<br>
<% @pictures.each do |picture| %>
    <% @url = picture.image_url %>
    <img src= <%= @url %> id="image" data-id>
<% end %><br>
<br>
<h2> Browse, Find & Store your Favourites </h2>